:root {
    --background-primary: #121212;
    --background-secondary: #1d1d1d;
    --background-tertiary: #242424;
    --primary-text-color: #E0E0E0;
    --secondary-text-color: #B3B3B3;
    --header-color: #FFFFFF;
    --accent-color: #FF7F50;
    --highlight-color: #03DAC6;
    --border-color: #333333;
    --card-background-color: #1E1E1E;
    --error-color: #CF6679;
}